<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>{{ title }}</title>
</head>
<body style = 'background-image: url(../statics/pictures/backgroung_taskboard.jpg);background-size: unset;background-repeat: inherit;'>
<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">Наше приложение</a>
        {% if cur_user.is_authenticated %}
            <a class="navbar-brand" href="/logout">{{ cur_user.name }}</a>
            <a class="navbar-brand" href="url_for('taskboard', owner_id = cur_user.id"> Мои задания </a>
        {% else %}
            <p>
                <a class="btn btn-primary " href="{{ url_for('register') }}">Зарегистрироваться</a>
                <a class="btn btn-success" href="{{ url_for('login') }}">Войти</a>
            </p>
        {% endif %}
        <a class="navbar-brand" href="{{ url_for('leaderboard') }}"> Таблица лидеров </a>
        <a class="navbar-brand" href="{{ url_for('taskboard', owner_id = 0 }}"> Доступные Задания </a>
    </nav>
</header>
<!-- Begin page content -->
<!-- url_for принимает функцию фласка -->
<main role="main" class="container">
    <div style = 'style="margin-left: 10%; margin-right: 10%; margin-top: 10%; margin-bottom: 10%;" '>
        {% block content %}{% endblock %}
    </div>
</main>
</body>
</html>