{% extends "base.html" %}

{% block content %}
<div style="margin-left: 20px; margin-right: 20px" >
<table border="1">
  <caption>Таблица лидеров</caption>
  <tr>
    <th>Позиция</th>
    <th>Имя</th>
    <th>Очки</th>
  </tr>
  {% for user in users %}
    <tr {% if cur_user.id == user.user_id %} style="font-weight: bold" {% endif %}  >
      <td >{{ user.num }}</td> <td> <a href="/user/{{ user.user_id }}"> {{ user.login }}</a> </td><td>{{ user.score }}</td>
    </tr>
  {% endfor %}
</table>
</div>
{% endblock %}